---
http_interactions:
- request:
    method: get
    uri: https://jaxslayher.com/m_a/updates/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[[{"id":222,"title":"A True Creampie Lover","folder":"447d513b-c650-485b-bec3-5ab5e96f28bb","content_type":"video","content_count":300,"released":"y","release_date":"2026-02-23T17:13:18Z","is_thumbed":"n","model_info":null,"models":[{"id":156,"name":"Coral
        Jade","slug":"coral_jade","is_thumbed":"n","release_date":"2026-02-23","released":"y"},{"id":4,"name":"Jax
        Slayher","slug":"jax_slayher","is_thumbed":"n","release_date":"2023-06-15","released":"y"}],"videos":null,"attached_gallery_id":0,"photo_count":null,"formatted_date":"feb
        23/2026","tags":null,"attached_folder":null,"up_votes":13,"down_votes":0,"streaming":1},{"id":221,"title":"Natural
        E Cups","folder":"056eca1c-c42e-4035-bff4-6d6c8121f4dc","content_type":"video","content_count":213,"released":"y","release_date":"2026-02-14T02:23:33Z","is_thumbed":"n","model_info":null,"models":[{"id":155,"name":"Sami
        Hayes","slug":"sami_hayes","is_thumbed":"n","release_date":"2026-02-14","released":"y"},{"id":4,"name":"Jax
        Slayher","slug":"jax_slayher","is_thumbed":"n","release_date":"2023-06-15","released":"y"}],"videos":null,"attached_gallery_id":0,"photo_count":null,"formatted_date":"feb
        14/2026","tags":null,"attached_folder":null,"up_votes":16,"down_votes":0,"streaming":1}],175]'
  recorded_at: Mon, 06 Jul 2026 12:00:00 GMT
- request:
    method: get
    uri: https://jaxslayher.com/m_a/get_video/447d513b-c650-485b-bec3-5ab5e96f28bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":222,"title":"A True Creampie Lover","folder":"447d513b-c650-485b-bec3-5ab5e96f28bb","content_type":"video","content_count":300,"released":"y","release_date":"2026-02-23T17:13:18Z","is_thumbed":"n","model_info":null,"models":[{"id":156,"name":"Coral
        Jade","slug":"coral_jade","is_thumbed":"n","release_date":"2026-02-23","released":"y"},{"id":4,"name":"Jax
        Slayher","slug":"jax_slayher","is_thumbed":"n","release_date":"2023-06-15","released":"y"}],"videos":[{"file_name":"4k_a_true_creampie_lover.mp4","quality_rank":1,"file_size":"6.34
        GB"},{"file_name":"hd_a_true_creampie_lover.mp4","quality_rank":2,"file_size":"3.41
        GB"},{"file_name":"sd_a_true_creampie_lover.mp4","quality_rank":3,"file_size":"1.92
        GB"},{"file_name":"mobile_a_true_creampie_lover.mp4","quality_rank":5,"file_size":"790.19
        MB"}],"attached_gallery_id":0,"photo_count":null,"formatted_date":"feb 23/2026","tags":[{"id":48,"tag_name":"anal
        cowgirl","tag_type":"video"},{"id":24,"tag_name":"anal missionary","tag_type":"video"},{"id":26,"tag_name":"anal
        reverse cowgirl","tag_type":"video"},{"id":179,"tag_name":"anal spoon","tag_type":"video"},{"id":31,"tag_name":"anal","tag_type":"general"},{"id":43,"tag_name":"ass
        licking","tag_type":"video"},{"id":112,"tag_name":"ass","tag_type":"video"},{"id":53,"tag_name":"big
        tits","tag_type":"general"},{"id":12,"tag_name":"blowjob","tag_type":"video"},{"id":120,"tag_name":"cowgirl
        c[...]
[...]
